body {
    font-family:'Open Sans', sans-serif;
    background-color:#FFF6E7;
    color:#141413;
}

.fw-semibold {
    font-weight:600!important;
}

.bg-dark {
    background-color:#252422!important;
}


.habilidades-subtitulo, .contacto-subtitulo {
    color:#F26079;
}

.titulo {
    line-height:1em;
}

#trabajoTitulo, .bi-envelope-fill, .bi-telephone-fill, .bi-geo-alt-fill {
    color:#F26079;
}

.bi-envelope, .bi-telephone, .bi-geo-alt {
    background-color:#F26079!important;
    color:#FFFCF7!important;
}

.bi-pencil-square, .bi-terminal, .bi-code-square {
    color:#A64253;
    border-color:#A64253!important;
}

.bi-github, .bi-linkedin {
    color:hsl(34, 6%, 60%);
}

.contacto-titulo, .nombre, #trabajoTitulo, nav, .boton-contacto, .contacto-subtitulo, .contacto-label,
.habilidades-titulo, .habilidades-subtitulo, .titulo, .info-contacto-titulo {
    font-family: 'Kanit'
}

.h4 {
    font-size:1.5rem;
}

.h2 {
    font-size:2rem;
}

.boton-contacto {
    max-width:500px!important;
    color:#A64253;
    border-color:#A64253;
}

.nombre, .titulo {
    letter-spacing:-2.5px;
}


#trabajoTitulo, .contacto-subtitulo {
    letter-spacing:2px;
    font-size:1.2rem;
}

.habilidades-container, .habilidades-border, .contacto-container {
    border-color:#A6A096!important;
}
.habilidades-titulo {
    letter-spacing:-0.5px;
    color:#252422;
}

.habilidades-titulo-descripcion {
    line-height:2;
}



.fs-6 {
    font-size:1.1rem!important;
}

.form-control {
    border: 0px solid #A6A096;
    background-color:#A6A096;
    color:#FFFCF2!important;

}

.form-control:focus {
    background-color:hsl(37, 8%, 40%);
    box-shadow:0 0 0 .25rem rgba(255, 255, 255, 0.25);
}

.info-contacto-titulo {
    letter-spacing:2px;
    color:#FFFCF7;
}

.info-contacto-texto {
    color:#FFFCF7;
    font-size:1.1rem;
}

.placeholder-transicion {
    opacity:0;
    transition: opacity 1s ease-in-out;
}

.hvr-fade-light {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, border-color, background-color;
    transition-property: color, border-color, background-color;
  }
  .hvr-fade-light:hover, .hvr-fade-light:focus, .hvr-fade-light:active {
    background-color:#FFFCF2!important;
    border-color:rgb(207, 207, 207)!important;
    color:#252422!important;
  } 

.hvr-fade-dark {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, border-color, background-color;
    transition-property: color, border-color, background-color;
  }
  .hvr-fade-dark:hover, .hvr-fade-dark:focus, .hvr-fade-dark:active {
    background-color: hsl(40, 4%, 10%);
    border-color:#252422;
    color: #FFFCF2!important;
  }


@media (min-width: 768px) {
    .contacto-email, .contacto-nombre {
        width:47.5%;
    }
    .barra-navegacion {
        margin-left:160px;
        margin-right:160px;
    }

}



@media(max-width:767px) {
    .habilidades-border {
        border-left: 0px!important;
        border-right: 0px!important;
        border-top:4px solid #A6A096!important;
        border-bottom:4px solid #A6A096!important;
    }
}

@media (max-width: 576px) {
    #trabajoTitulo {
        font-size:1rem;
    }
}

@media (max-width: 400px) {
    .nombre {
        font-size:calc(1.32rem + 4.5vw);
    }
    #email, #telefono, #direccion {
        font-size:calc(0.9rem + 1.5vw);
    }
}

