body {
    font-family:'Open Sans', sans-serif;
}


.h4 {
    font-size:1.5rem;
}

.h2 {
    font-size:2rem;
}

.boton-contacto {
    max-width:500px!important;
}

.titulo, .nombre {
    font-family: 'Kanit'
}

.nombre {
    letter-spacing:-2px;
}

#trabajoTitulo {
    letter-spacing:2px;
    font-size:1.2rem;
}

.fw-bold {
    font-weight:500!important;
}


@media (min-width: 768px) {
    .contacto-email, .contacto-nombre {
        width:47.5%;
    }

}

@media (max-width: 576px) {
    #trabajoTitulo {
        font-size:1rem;
    }
}

@media (max-width: 355px) {
    .nombre {
        font-size:calc(1.4rem + 4.5vw);
    }
}

@media (max-width: 310px) {
    .nombre {
        font-size:calc(1.2rem + 4.5vw);
    }

}