.h4 {
    font-size:1.5rem;
}

.h2 {
    font-size:2rem;
}

.boton-contacto {
    max-width:500px!important;
}

/* .navheight {
    max-height:10px!important;
} */

@media (min-width: 768px) {
    .contacto-email, .contacto-nombre {
        width:47.5%;
    }
}

@media (max-width: 355px) {
    .nombre {
        font-size:calc(1.4rem + 4.5vw);
    }
}

@media (max-width: 310px) {
    .nombre {
        font-size:calc(1.2rem + 4.5vw);
    }

}